.inter--bold, .inter--semibold, .inter--medium, .inter--regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.inter--bold {
  font-weight: 700;
}
.inter--semibold {
  font-weight: 600;
}
.inter--medium {
  font-weight: 500;
}
.inter--regular {
  font-weight: 400;
}

body, body * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 0 auto;
  max-width: 1260px;
  font-size: 16px;
  line-height: 1.4;
  background: #E9ECE7;
  background: linear-gradient(0deg, #E9ECE7 0%, white 100%);
}

.nav__heading {
  color: #13304A;
  font-size: 32px;
  line-height: 1.1;
}

.header {
  width: 100%;
}
.header__heading {
  color: #13304A;
  font-size: 38px;
  line-height: 1.1;
}
.header__caption {
  color: #222;
}
.header__caption .header__link {
  color: #076D59;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}

.nav, .header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}

.nav__buttons-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}
.nav__link {
  padding: 8px 24px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  gap: 9px;
}
.nav__link--primary {
  background: #222;
}
.nav__link--primary:hover, .nav__link--primary:focus {
  background: #E9ECE7;
  color: #222;
}
.nav__link--secondary {
  background: #076D59;
}
.nav__link--secondary:hover, .nav__link--secondary:focus {
  background: #E9ECE7;
  color: #076D59;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.gallery__left-wrapper, .gallery__right-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 30px;
}
.gallery__image, .gallery__video-button {
  width: 100%;
  margin: 0;
  min-height: 250px;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
  display: block;
}
.gallery__video-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery__video-button .gallery__button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #13304A;
  color: white;
  position: absolute;
  border: none;
}
.gallery__video-button .gallery__button .gallery__play {
  position: relative;
  left: 2px;
  top: 2px;
}
.gallery__video-button .gallery__button:hover, .gallery__video-button .gallery__button:focus {
  background: #E9ECE7;
  color: #13304A;
}

.footer {
  width: 100%;
  overflow: hidden;
  color: black;
  font-size: 13.33px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  background: linear-gradient(0deg, white 0%, #E9ECE7 100%);
  overflow: hidden;
}
.modal[hidden] {
  display: none;
}
.modal__content {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}
.modal__content .modal__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.modal__content .modal__heading .modal__title {
  width: 80%;
}
.modal__content .modal__heading .modal__button {
  background: #9F0000;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__content .modal__caption {
  max-width: 800px;
}
.modal__content .modal__caption .modal__link {
  color: #076D59;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.modal__content .modal__video {
  width: 100%;
  border-radius: 20px;
  height: 100%;
}

@media (min-width: 700px) and (max-width: 1000px) {
  .gallery__image, .gallery__video-button {
    height: 100%;
  }
  .gallery__left-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
  }
  .gallery__left-wrapper .gallery__image--wide {
    max-height: 250px;
    grid-column: 1/-1;
  }
  .gallery__right-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 30px;
  }
  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal__content {
    width: 90%;
    height: 78%;
    background: white;
    background: linear-gradient(0deg, white 0%, #E9ECE7 100%);
    border-radius: 20px;
    max-height: 889px;
  }
}
@media (min-width: 1000px) {
  .nav, .header {
    align-items: center;
  }
  .header__caption {
    max-width: 800px;
  }
  .gallery {
    flex-direction: row;
    height: 780px;
  }
  .gallery__image {
    width: 100%;
    height: 100%;
    display: block;
  }
  .gallery__video-button {
    height: 100%;
  }
  .gallery__left-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto 250px;
    gap: 30px;
    height: 100%;
  }
  .gallery__left-wrapper .gallery__image--wide {
    grid-column: 1/-1;
    height: 250px;
  }
  .gallery__right-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    max-width: 380px;
    height: 100%;
  }
  .modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal__content {
    width: 90%;
    height: 78%;
    background: white;
    background: linear-gradient(0deg, white 0%, #E9ECE7 100%);
    border-radius: 20px;
    max-width: 1260px;
    max-height: 889px;
  }
}/*# sourceMappingURL=styles.css.map */